body,html {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: black;
}
.main{
    position: relative;
}
#back {
    width: 100%;
    height: 100vh;
    filter: blur(1px) brightness(0.4);
}
#logo{
    position: absolute;
    border: none;
    padding: none;
    width:20%;
    left:3vw;
    top: -2.5vw;
    z-index: 1000;
}
@media screen and (max-width:720px){
    #logo{
        width:36%;
    }
}
.but{
    position: absolute;
    top:4vh;
    right:10vw;
    width:15%;
    height: 5%;
    padding-left:1%;
}
@media screen and (max-width:720px){
    .but{
        width:25%;
    }
}
#lang{
    width: 50%;
    height: 75%;
    color: white;
    font-weight: bold;
    background: none;
    font-size: 1.5vh;
    border:1px solid white;
    border-radius: 4px;   
    
}
#sign{
    position: absolute;
    width: 30%;
    margin-left:1vh;
    height: 73%;
    color: white;
    overflow: hidden;
    font-size:1.5vh;
    font-weight: bold;
    background-color: red;
    border:1px solid red;
    border-radius: 4px;   
}
#t{
    position: absolute;
    top:20%;
    right:23%;
    width:45%;
    height:17%;
    padding-bottom: 3vh;
    color: white;
    font-family: sans-serif;
    font-size: 3.9vh;     
}
@media screen and (max-width:1180px){
    #t{
        width:45%;
        height:15%;
        font-size:2vh;
    }
}
option{
    color:black;
}
#te{
    width:90%;
    color: white;
    font-family: sans-serif;
    margin-left: 1.2vh;
    font-size: 2.6vh;
    font-weight: bold;     
}
#pe{
    width:90%;
    color: white;
    font-family: sans-serif;
    font-size: 2.2vh;      
}
.search{
    
    width: 90%;
    height: 35%;
}
.search input{
    padding-left: 14px;
}
#se{
    width:55%;
    height: 100%;
    background: rgba(0, 0, 0, 0.752) ;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 4px;
}
#se2{   
    position: absolute;
    width:30%;
    height: 32%;
    margin-left:0.7vh;
    color: white;
    font-weight: bold;
    font-size: 1.34vh;
    font-family: sans-serif;
    background-color: red;
    border:none;
    border-radius: 4px;
}   
.trend{
    margin-left: 10vw;
    margin-top:4vh;
    width:50%;
    color: white;
    font-family: sans-serif;
}
#loc,#mov{
    background-color: rgba(224, 215, 215, 0.083);
    color:white;
    padding-left: 10px;
    height: 5.2vh;
    width: 13vh;
    border-radius: 4px;
}
#mov{
    margin-left:3vh;
}
.movies {
    display: flex;
    flex-wrap: wrap;
    width:80%;
    margin-left: 10vw;
    margin-right: 1vw;;
    margin-top: 2vw;
    gap: 20px;
}

.image-container {
    position: relative;
    display: inline-block;
}

.image-container img {
    display: block;
    border-radius: 10px;
    width:25vh;
    height: 33vh;
}
.image-container img:hover{
    width:26vh;
    height:34vh;
}

.image-text {
    position: absolute;
    bottom: 10px;
    left:-2.5vh;
    color: rgb(0, 0, 0);
    font-size: 90px;
    font-weight: bold;
    font-family: sans-serif;
    text-shadow: 
    -1px -1px 0 white,  
     1px -1px 0 white,  
    -1px  1px 0 white,  
     1px  1px 0 white; 
    border-radius: 3px;
}
#jn{
    color:white;
    font-family: sans-serif;
    font-size:3.5vh;
    width:70%;
    margin-left:10vw;
    margin-top:5vh;
}
.box{
    display: flex;
    gap: 2vh;
    height:20vw;
    width:85%;
    margin-left:10vw;
}
.box div{
    width:22%;
    height:95%;
    border-radius: 14px;
    color:white;
    background-color: rgba(78, 5, 114, 0.401);
}
.box div h2,.box div p{
    padding: 8px;
}
.box div p{
    color: grey;
}
@media screen and (max-width:1080px){
    .box div h2{
        padding-top:0.2vh;
        font-size: 1.45vh;
    }
    .box div p{
        font-size:1.5vh;
    }
    
}
@media screen and (max-width:720px) {
    .box div p{
        display:none;
    }
   
}

#freq{
    margin-left:10vw;
    width:90%;
    color:white;
    font-size: 1.7em;
    font-family: sans-serif;
}
.ques{
    color:white;
    width:75%;
    height:8vh;
    font-size: 3.6vh;
    font-family: sans-serif;
    margin-left:10vw;
    margin-top: 10px;
    margin-right: 5vw;
    padding-top: 3vh;
    padding-left: 5vh;
    background-color: gray;
    
}

.searchEnd{
    margin-left:11vw;
    margin-right: 15%;
    width:90%;
    margin-top: 10vh;
}
.searchEnd p{
    margin-right: 20%;
}
#seEnd{
    height: 7vh;
    width:40%;
    margin-left:10%;
    background: rgba(0, 0, 0, 0.752) ;
    color: white;
    font-size: 2vh;
    font-weight: bold;
    border: 1px solid white;
    border-radius: 4px;
}
#se2End{   
    position: absolute;
    height:7vh;
    width:18%;
    margin-left: 1vh;
    color: white;
    font-weight: bold;
    font-size: 2vh;
    font-family: sans-serif;
    background-color: red;
    border:none;
    border-radius: 4px;
} 
#no{
    margin-top: 7vh;
    margin-left: 11vw;
    color:gray;
    font-size:2.4vh;
}
.foot{
    margin-top: 5vh;
    margin-left: 10vw;
    display: flex;
    gap:7vh;

}
.foot div p{
    text-decoration: underline;
    color: gray;
}

#lang2{
    margin-left:10vw;
    margin-top: 3vh;
    width: 7.8%;
    height: 4.5%;
    color: white;
    overflow: hidden;
    font-weight: bold;
    background: none;
    border:1px solid white;
    border-radius: 4px;   
}

#End{
    margin-left: 10vw;
    margin-top:5vh;
    color:gray;
}

.space{
    height:8vh;
}